<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- That variable can be chaged inside settings.py of your project -->
    <title>{{ settings.APP_NAME }}</title>
</head>
<body>
    <h3>This project development is based on the Coursera "Django for everybody" specialization course</h3>
    <p>
        Here are some assignmets that here developed over time (Each will open in a new tab):
        <ul>
            <!-- POLLS APPLICATION -->
            <li><p><a href="/polls" target="_blank">A Polls Application</a></p></li>

            <!-- HELLO APPLICATION (Cookie and session) -->
            <li><p><a href="/hello" target="_blank">Test the session</a></p></li>
        </ul>
    </p>
</body>
</html>